#!/bin/sh

NAME="{{ application_name }}"
DJANGODIR={{ project_path }}
VIRTUALENV_PATH={{ virtualenv_path }}
SOCKFILE={{ virtualenv_path }}/run/gunicorn.sock
USER={{ gunicorn_user }}
GROUP={{ gunicorn_group }}
NUM_WORKERS={{ gunicorn_num_workers }}

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
. $VIRTUALENV_PATH/bin/activate

# Set additional environment variables.
. $VIRTUALENV_PATH/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
cd $DJANGODIR
exec gunicorn -b 0.0.0.0:8080 Xherlock.wsgi:application --workers 3 --max-requests 0  --log-level debug